* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', serif;
}

.header {
    background-color: rgba(255, 255, 255, 0.7);
    ;

    .container {
        max-width: 1300px;
        padding: 0px 25px;
        margin: auto;

        .navbar {

            display: flex;
            padding: 25px;
            align-items: center;
            justify-content: flex-end;
            gap: 25px;

            .nav-items{
                display: flex;
                align-items: center;
                gap: 10px;
            }
            .menu-icon{
                display: none;
                width: 30px;
                height: 30px;
                img{
                    width: 100%;
                }
            }

            a {
                text-decoration: none;
                color: #555;
            }
        }
        #menu-toggle{
            display: none;
        }

        .hidden-nav-items{
            display: flex;
            flex-direction: column;
            background-color: #333;
            align-items: flex-end;
            gap: 10px;
            max-height: 0;
            overflow: hidden;
            transition: all 0.5s ease;

            a{
                color: #fff;
                text-decoration: none;
                margin-right:50px ;
            }
        }

        .headerContent {
            margin-top: 70px;
            display: flex;
            align-items: center;
            justify-content: center;

            .headerContentItem {
                flex: 1;

                h1 {
                    font-size: 50px;
                    line-height: 60px;
                    margin: 25px 0px;
                }

                p {
                    color: #555;
                }

                img {
                    width: 100%;
                    padding: 50px 0px;
                }
            }
        }
    }
}

.categories {
    margin: 70px 0px;

    .container {
        display: flex;
        margin: auto;
        max-width: 1080px;
        padding: 0px 25px;

        flex-wrap: wrap;
        justify-content: space-around;

        img {
            flex-basis: 30%;
            min-width: 250px;
            margin-bottom: 30px;
        }
    }

}


/* Featured Product */
.feature-products {
    max-width: 1080px;
    padding: 0px 25px;
    margin: auto;
    display: flex;
    flex-direction: column;

    h2 {
        color: #555;
        line-height: 60px;
        text-align: center;
    }

    .customUnderlineContainer {
        align-self: center;
        margin-bottom: 80px;

        .cutomUnderline {
            width: 80px;
            height: 5px;
            background-color: #ff523b;
            border-radius: 5px;
        }

    }

    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .product-card {
            display: flex;
            flex-direction: column;
            min-width: 200px;
            padding: 10px;
            margin-bottom: 50px;
            flex-basis: 20%;
            cursor: pointer;
            transition: transform 0.5s;

            .product-title {
                color: #555;
            }

            .product-price {
                color: #555;
                font-size: 14px;
            }
        }

        .product-card:hover {
            transform: translateY(-5px);
        }
    }
}


/* latest product */
.latest-product {

    max-width: 1080px;
    padding: 0px 25px;
    margin: auto;
    display: flex;
    flex-direction: column;

    h2 {
        color: #555;
        line-height: 60px;
        text-align: center;
    }

    .customUnderlineContainer {
        align-self: center;
        margin-bottom: 80px;

        .cutomUnderline {
            width: 80px;
            height: 5px;
            background-color: #ff523b;
            border-radius: 5px;
        }
    }

    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .product-card {
            display: flex;
            flex-direction: column;
            min-width: 200px;
            padding: 10px;
            margin-bottom: 50px;
            flex-basis: 20%;
            cursor: pointer;
            transition: transform 0.5s;

            .product-title {
                color: #555;
            }

            .product-price {
                color: #555;
                font-size: 14px;
            }
        }

        .product-card:hover {
            transform: translateY(-5px);
        }
    }

}

/* Smart Watch Banner */
.smart-watch-banner {
    margin-top: 80px;
    padding: 30px 0px;
    background-color: rgba(255, 255, 255, 0.7);


    .container {
        display: flex;
        align-items: center;
        max-width: 1080px;
        margin: auto;
        padding: 0px 25px;
        justify-content: space-around;

        .smart-watch-banner-image {
            flex: 1;
            padding: 50px;

            img {
                width: 100%;
            }
        }

        .smart-watch-banner-content {
            flex: 1;


            h1 {
                font-size: 50px;
                line-height: 60px;
                margin: 25px 0px;
            }

            span {
                color: #555;
                font-size: 14px;
            }

            .buy-now-button {
                background: #ff523b;
                color: #fff;
                margin: 30px 0px;
                padding: 8px 30px;
                border-radius: 30px;
                border: none;
                cursor: pointer;
            }

            .buy-now-button:hover {
                background-color: #563434;
            }
        }
    }

}

/* Testimonial  */
.testimonial-section {
    padding-top: 100px;

    .testimonial-cards-section {
        max-width: 1080px;
        margin: auto;
        padding: 0px 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .testimonial-card {

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            cursor: pointer;
            padding: 40px 20px 40px;
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: transform 0.5s;
            min-width: 250px;
            margin-bottom: 30px;
            flex-basis: calc(30% - 50px);

            p {
                font-size: 12px;
                margin: 12px 0px;
                color: #777;
            }

            h3 {
                font-weight: 600;
                color: #555;
                font-size: 16px;
            }

            .ratings {
                padding-top: 20px;
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }

        .testimonial-card:hover {
            transform: translateY(-10px);
        }

        [alt="User-Image"] {
            width: 50px;
            margin-top: 20px;
            border-radius: 50%;
        }
    }


}

.branding-container {
    margin: 100px auto;

    .branding-inner-container {
        max-width: 1080px;
        padding: 0px 25px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        img {
            cursor: pointer;
            filter: grayscale(100%);

        }

        img:hover {
            filter: grayscale(0%);
        }
    }
}

.footer {
    background: #222831;
    color: #eeeeee;
    font-size: 14px;
    padding: 60px 0 20px;

    .footer-inner-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 1300px;
        margin: auto;
        padding: 0px 25px;
        flex-wrap: wrap;

        .footerColumn {
            min-width: 250px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;


            h3 {
                color: #ff523b;
                margin-bottom: 20px;
                font-weight: 500;
            }

            p {
                color: #eeeeee;
                margin-bottom: 10px;
                cursor: pointer;
                transition: color 0.3s ease;
            }

            .footerStoreContainer {
                display: flex;
                align-items: center;
                gap: 4px;
                margin-top: 20px;

                img {
                    width: 140px;
                    margin: 5px 0px;
                }
            }

        }

        .footerColumn1 {
            flex-basis: 30%;
        }

        .footerColumn2 {
            flex: 1;
            align-items: center;
        }

        .footerColumn3 {
            flex-basis: 12%;
            align-items: center;
        }



    }
}


/* bhufshfshufehaowofeso */
/* fdsafadsfasdfcs */
/* fsabjkfbwoshbsdnADSA */

/* PRODUCTs MAIN CONTAINER */
.main-container {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    padding: 0px 25px;
    margin: auto;

    .main-upper-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 100px 0px 50px;

        select {
            border-width: 1px;
            border-style: solid;
            border-color: rgb(255, 82, 59);
            border-image: none;
            padding: 5px;
            outline: none;
        }
    }

    .main-inner-container {
        max-width: 1080px;
        padding: 0px 25px;
        margin: auto;
        display: flex;
        flex-direction: column;

        .product-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .product-card {
                display: flex;
                flex-direction: column;
                min-width: 200px;
                padding: 10px;
                margin-bottom: 50px;
                flex-basis: 20%;
                cursor: pointer;
                transition: transform 0.5s;

                .product-title {
                    color: #555;
                }

                .product-price {
                    color: #555;
                    font-size: 14px;
                }
            }

            .product-card:hover {
                transform: translateY(-5px);
            }
        }
    }

    .pagination-button-container {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 80px;

        .pagination-button {
            display: inline-block;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(255, 82, 59);
            border-image: none;
        }
    }
}

/* ------------------- */
/* ------------------------------------ */
/* product-details main container */
/* ------------------- */
/* ------------------- */
.product-details-container {
    margin-top: 80px;
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;

    .product-details-content {
        flex-basis: calc(50% - 50px);
		padding: 20px;
		min-width: 300px;
		display: flex;
		flex-direction: column;
       
    }
    .product-details-img-content {
		gap: 4px;
		.product-details-big-image {
			width: 100%;
		}
		.product-small-img-container-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.product-small-img-container {
				flex-basis: 24%;
				img {
					width: 100%;
				}
			}
		}
	}

    .product-details-text-content {
		p {
			color: #555;
		}
		h1 {
			font-size: 50px;
			line-height: 60px;
			margin: 25px 0;
		}
		h4 {
			margin: 20px 0;
			font-size: 22px;
			font-weight: bold;
			color: #555;
		}
		select {
			display: block;
			padding: 10px;
			margin-top: 20px;
			border: 1px solid #ff523b;
			outline: none;
			width: fit-content;
		}
		.addToCartButtonWrapper {
			display: flex;
			align-items: center;
			gap: 10px;
			input {
				width: 50px;
				height: 40px;
				padding-left: 10px;
				font-size: 20px;
				margin-right: 10px;
				border: 1px solid #ff523b;
				outline: none;
			}
			.addtoCartButton {
				display: inline-block;
				background: #ff523b;
				color: #fff;
				padding: 8px 30px;
				margin: 30px 0;
				border-radius: 30px;
				transition: background 0.5s;
				text-decoration: none;
			}
			.addtoCartButton:hover {
				background-color: #222831;
			}
		}
	
    }

}

.allProductsSection {
	display: flex;
	flex-direction: column;
	max-width: 1080px;
	padding: 0px 25px;
	margin: auto;
	.allProductsSectionLabel {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 100px 0px 50px;
		select {
			border: 1px solid #ff523b;
			padding: 5px;
			outline: none;
		}
	}

	.paginationButtonContainer {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 80px;
		.paginationButton {
			display: inline-block;
			border: 1px solid #ff523b;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			cursor: pointer;
		}
		.paginationButton:hover {
			background-color: #ff523b;
			color: #fff;
		}
	}
}

/* Cart page */
.cartsSectionsWrapper {
	margin: 80px auto;
	max-width: 1080px;
	padding-left: 25px;
	padding-right: 25px;

	table {
		width: 100%;
		border-collapse: collapse;

		th {
			text-align: left;
			padding: 5px;
			color: #fff;
			background: #ff523b;
			font-weight: normal;
		}
		th:last-child {
			text-align: right;
		}
		td {
			padding: 10px 5px;

			.cart-info {
				display: flex;
				flex-wrap: wrap;

				img {
					width: 80px;
					height: 80px;
					margin-right: 10px;
				}

				.cart-info-details {
					display: flex;
					flex-direction: column;

					p {
						color: #555;
					}
					small {
						color: #555;
					}
					a {
						color: #ff523b;
						font-size: 12px;
						text-decoration: none;
						margin-top: 4px;
					}
				}
			}

			input {
				width: 40px;
				padding: 5px;
				outline: none;
			}
		}
		td:last-child {
			text-align: right;
		}
	}

	.totalPrice {
		display: flex;
		justify-content: flex-end;
		table {
			border-top: 3px solid #ff523b;
			max-width: 350px;
		}

		.checkoutBtn {
			display: inline-block;
			background: #ff523b;
			color: #fff;
			padding: 8px 30px;
			margin: 30px 0;
			border-radius: 30px;
			transition: background 0.5s;
		}
		.checkoutBtn:hover {
			background-color: #222831;
		}
	}
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
	.headerContent {
		flex-direction: column;
		h1,
		p {
			text-align: center;
		}
	}
	.categories .container img {
		flex-basis: 100%;
	}

	.product-container .product-card {
		flex-basis: 100% !important;

		.product-title,
		.product-price {
			text-align: center;
		}
		div {
			display: flex;
			justify-content: center;
		}
	}

	.smart-watch-banner {
		.container {
			flex-direction: column;

			.smart-watch-banner-content {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	.testimonialParentContainer .testimonialInnerContainer .testimonialCards {
		flex-basis: 100%;
	}

	.footer .footerInnerContainer {
		flex-direction: column;

		.footerColumn1 {
			align-items: center;

			.footerStoreContainer {
				flex-direction: column;
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.header {
		.navbar {
			.nav-items {
				display: none !important;
			}
			.menu-icon {
				display: block !important;
			}
		}
		#menu-toggle:checked ~ .hidden-nav-items {
			max-height: 140px !important;
			padding: 10px 0px !important;
		}
	}
}